/* Мобильная адаптация под 1440px */
@media(max-width: 1490px){
    .container{
        max-width: 1490px;
        padding-left: 180px;
        padding-right: 180px;
    }
    /* шапка */
    .header__container{
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .header__logo{
        max-width: 180px;
        width: 100%;
    }
    .nav__links{
        gap: 35px;
    }
    /* 1 секция */
    .hero__container {
        padding-top: 200px;
        padding-bottom: 190px;
    }
    .hero__span{
        font-size: 20px;
    }
    .hero__zag{
        max-width: 503px;
    }
    .hero__title{
        font-size: 55px;
        line-height: 70px;
    }
    .hero__list{
        max-width: 55px;
        width: 100%;
        bottom: 35px
    }
    .hero__h2{
        font-size: 50px;
        line-height: 70px;
    }
    .hero__btn{
        padding: 20px 35px 20px 35px;
    }
}